body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: white;
    margin: 0;
    padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

.comic-text {
  font-family: 'Comic Neue', cursive;
  font-size: 28px;                    
  color: #FFD700;                      
  font-weight: 70;                     
  text-shadow:
     2px 1px 0 black,
    -1px 2px 0 black,
     1px -2px 0 black,
    -1px -2px 0 black; 
    justify-content: center;
    white-space: pre-wrap;
}
 .left {
  float: left;
  width: 45%;
}
.imgg{
    height: 389px;
    width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
    background-image: url("images/8f6d27cadb34d30d8b94f5406b29c4d0.jpg");
}

h1 {
    font-family: 'Comic Sans MS', cursive;
    color: #e94560;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px black;
}
h2 {
    color: #00d4ff;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    font-size: 18px;
}
h3 {
    font-family: 'Comic Sans MS', cursive;
    color: #0d8c95;
    font-size: 22px;
    text-align: left;
    margin-top: 30px;
    margin-right: 100px;
}
p {
    font-family: 'Comic Sans MS', cursive;
    line-height: 1.6;
    font-size: 18px;
    margin: 15px 0;
}
img {
    width: 100%;
    max-width: 600px;
    border: 5px solid black;
    display: block;
    margin: 20px auto;
}
.quote {
    background-color: rgb(194, 232, 255);
    color: black;
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 20px 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
ul, ol {

  font-family: cursive, sans-serif; 
  font-size: 24px;                  
  color: #b70000;                    
  text-shadow: 2px 2px #000;        
  line-height: 1.8;
  margin-left: 20px;
}


ul li, ol li {
    
    margin: 10px 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    color: black;
}

th {
    background-color: #e94560;
    color: white;
    padding: 15px;
    border: 3px solid black;
    font-size: 18px;
}

td {
    padding: 12px;
    border: 3px solid black;
    font-size: 16px;
}



.panels {
    display: flex;/*чтоб горизонтально подряд встали*/
    gap: 80px;
    margin: 30px ;
    justify-content: center;
    flex-wrap: wrap;/*чтоб вертикально были в случае нехватки места*/
}

.panel {
    
    width: 200px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;/*это типа подчеркивания от ссылки*/
}

.panel:hover {
    transform: scale(1.05);
}

.panel-icon {
    width: 100%;
}

.columns {
  display: flex;
  gap: 180px;
}

.col {
  width: 50%;
  
}
.video-container video {
    width: 100%;
    height: 420px;
    display: block;
}
